body{
    background-image:url("images/back2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gill Sans", sans-serif;
    color:aliceblue;
}
.url_1{
    background-color: rgba(11,11,11,0.7);
    border: solid rgba(48, 47, 47, 0.7) 4px;
    border-radius: 3px;
    margin-top: 120px;
    padding: 50px 10px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.url_2{
    background-color: rgba(11,11,11,0.7);
    border: solid rgba(48, 47, 47, 0.7) 4px;
    border-radius: 3px;

    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
h1,table{
    text-align: center;
}
table{
    margin-right: 5%;
}
.main_text{
    margin-bottom: 30px;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(245, 245, 245,0.5);
}